<!-- 메인 화면  -->
<html layout:decorate="~{layout/admin/index}">

	<th:block layout:fragment="pageHead">
		<title>물품 리스트 관리</title>
	</th:block>

	<th:block layout:fragment="pageContent">
		<div class="row page-titles mx-0">
			<div class="col-sm-6 p-md-0">
				<div class="welcome-text">
					<h4>관리자 [[${adminName}]]님 반갑습니다.</h4>
				</div>
			</div>
			<div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
				<ol class="breadcrumb">
					<li class="breadcrumb-item active"><a href="javascript:void(0)">Main</a></li>
				</ol>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">구매자 관리</h4>
					</div>
					<div class="card-body">

					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">판매자 관리</h4>
					</div>
					<div class="card-body">

					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">상품 등록 승인</h4>
					</div>
					<div class="card-body">

					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">물품 리스트 관리</h4>
					</div>
					<div class="card-body">

					</div>
				</div>
			</div>
		</div>
	</th:block>

</html>