<!-- 메인 화면  -->
<html layout:decorate="~{layout/admin/index}">

	<th:block layout:fragment="pageHead">
		<title th:text="${test}"></title>
	</th:block>

	<th:block layout:fragment="pageContent">
		<div class="row page-titles mx-0">
			<div class="col-sm-6 p-md-0">
				<div class="welcome-text">
					<h4>관리자 [[${adminName}]]님 반갑습니다.</h4>
					<p class="mb-0">Your business dashboard template</p>
				</div>
			</div>
			<div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="javascript:void(0)">App</a></li>
					<li class="breadcrumb-item active"><a href="javascript:void(0)">Profile</a></li>
				</ol>
			</div>
		</div>
	</th:block>

</html>