<!-- 블록을 갈아끼울 인덱스  -->
<!DOCTYPE html>
<html lang="ko">

	<head>
	    
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width,initial-scale=1">
	    <!-- Favicon icon -->
	    <link rel="icon" type="image/png" sizes="16x16" href="/admin/images/favicon.png">
	    <link rel="stylesheet" href="/admin/vendor/owl-carousel/css/owl.carousel.min.css">
	    <link rel="stylesheet" href="/admin/vendor/owl-carousel/css/owl.theme.default.min.css">
	    <link href="/admin/vendor/jqvmap/css/jqvmap.min.css" rel="stylesheet">
	    <link href="/admin/css/style.css" rel="stylesheet">
		<!-- Datatable -->
		<link href="/admin/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
		
		<th:block layout:fragment="pageHead"></th:block>
		
	</head>
	<body>
		
		<div id="preloader">
	        <div class="sk-three-bounce">
	            <div class="sk-child sk-bounce1"></div>
	            <div class="sk-child sk-bounce2"></div>
	            <div class="sk-child sk-bounce3"></div>
	        </div>
	    </div>
		
		<div id="main-wrapper">
			
			<th:block th:replace="~{layout/admin/inc::header}"></th:block>
			<th:block th:replace="~{layout/admin/inc::sidebar}"></th:block>
			
			<div class="content-body">
				<div class="container-fluid">
					<th:block layout:fragment="pageContent"></th:block>
				</div>
			</div>
			
		</div>	
		
		<th:block th:replace="~{layout/admin/inc::bottomscript}"></th:block>
		<th:block layout:fragment="bottomScriptAdd"></th:block>
		
	</body>

</html>