<th:block th:fragment="defaultHeader" xmlns:th="http://www.w3.org/1999/xhtml">

<div class="trending-bar-dark hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3 class="trending-bar-title">타임 세일 </h3>
                <div class="trending-news-slider">
                    <div class="item">
                        <div class="post-content">
                            <h2 class="post-title title-sm">
                                <a href="single-post.html">adidas FAMILY WEEK 최대 60%</a>
                            </h2>
                        </div>
                    </div>
                    <div class="item">
                        <div class="post-content">
                            <h2 class="post-title title-sm">
                                <a href="single-post.html">여름맞이 아쿠아슈즈 할인상품</a>
                            </h2>
                        </div>
                    </div>
                    <div class="item">
                        <div class="post-content">
                            <h2 class="post-title title-sm">
                                <a href="single-post.html" >나이키 페스타 15% 할인</a>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <!--로그인 버튼-->

        </div>
    </div>
</div>

<header class="header-navigation d-none d-lg-block">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xs-12 col-sm-3 col-md-3">
                <!-- Logo -->
                <div class="logo" style="padding:0px">
                    <a href="index.html">
                        <img src="/assets/image/LOGO.png" alt="LOGO.png" style="height:95px;"> <!-- Replace Logo Here -->
                    </a>
                </div>
                <!-- End Logo -->
            </div>
            <div class="col-sm-9 col-md-9">
                <ul class="util-menu">
                    <li>
                        <a href="login" class="util-login" title="로그인"></a>
                        <span>로그인</span>
                    </li>
                    <li>
                        <a href="register" class="util-register" title="회원가입"></a>
                        <span>회원가입</span>
                    </li>
                    <li>
                        <a href="cart" class="util-cart" title="장바구니"></a>
                        <span>장바구니</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<div class="main-navbar clearfix bg-dark ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav class="navbar navbar-expand-lg site-main-nav navigation" style="position:relative; z-index:1000;">
                    <a class="navbar-brand d-lg-none" href="index.html">
                        <img src="/images/logos/footer-logo.png" alt="">
                    </a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="fa fa-bars"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li th:each="rootCategory : ${categories}" class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="${rootCategory.categoryName}"></a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="z-index:1001;">
                                    <ul th:if="${rootCategory.children != null and rootCategory.children.size() > 0}" class="list-unstyled dropmenu2" style="display:none;">
                                        <li th:each="child : ${rootCategory.children}" class="nav-item dropdown">
                                            <a class="dropdown-item nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="${child.categoryName}"></a>
                                            <ul th:if="${child.children != null and child.children.size() > 0}" class="list-unstyled pl-3 dropmenu3" style="display:none;">
                                                <li th:each="grandchild : ${child.children}">
                                                    <a class="dropdown-item" href="#" th:text="${grandchild.categoryName}"></a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                        <script>
                            $(document).ready(function() {
                                $("#navbarSupportedContent > ul > li").on("mouseenter", function() {
                                    $(this).find("ul.dropmenu2").stop(true, true).slideDown();
                                }).on("mouseleave", function() {
                                    $(this).find("ul.dropmenu2").stop(true, true).slideUp();
                                });

                                $("ul.dropmenu2 > li").on("mouseenter", function() {
                                    $(this).find("ul.dropmenu3").stop(true, true).slideDown();
                                }).on("mouseleave", function() {
                                    $(this).find("ul.dropmenu3").stop(true, true).slideUp();
                                });
                            });
                        </script>
                        <div class="nav-search ml-auto d-none d-lg-block">
                            <span id="search">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>
                </nav>

            </div>
        </div>
    </div>
    <form class="site-search" method="get">
        <input type="text" id="searchInput" name="site_search" placeholder="Enter Keyword Here..." autofocus="">
        <div class="search-close">
            <span class="close-search">
                <i class="fa fa-times"></i>
            </span>
        </div>
    </form>
</div>

</th:block>

<th:block th:fragment="defaultFooter" xmlns:th="http://www.w3.org/1999/xhtml">

<div class="py-40"></div>

<footer class="footer footer-main ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-sm-12 col-lg-6 text-center">
                <a href="index.html"><img src="/images/logos/footer-logo.png" alt="" class="img-fluid"></a>
                <p class="mt-4">We perfectly balances the simplicity of a clean, eye-catching blog with the flexibility to create unique page layouts.</p>

                <ul class="list-inline footer-social">
                    <li class="li list-inline-item"><a href="https://www.facebook.com/themefisher"><i class="fa fa-facebook"></i></a></li>
                    <li class="li list-inline-item"><a href="https://twitter.com/themefisher"><i class="fa fa-twitter"></i></a></li>
                    <li class="li list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li class="li list-inline-item"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    <li class="li list-inline-item"><a href="#"><i class="fa fa-rss"></i></a></li>
                    <li class="li list-inline-item"><a href="#"><i class="fa fa-youtube"></i></a></li>
                </ul>

                <div class="copyright-text text-center">
                    <p class="mb-0">© All Copyright Reserved to - <a href="https://themefisher.com/" target="_blank">Themefisher</a></p>
                </div>
            </div>

            <div class="scroll-to-top">
                <button class="btn btn-primary" title="Back to Top">
                    <i class="fa fa-angle-up"></i>
                </button>
            </div>
        </div>
    </div>
</footer>


<!-- THEME JAVASCRIPT FILES
================================================== -->
<!-- initialize jQuery Library -->
<script src="/plugins/jquery/jquery.js"></script>

<!-- Bootstrap jQuery -->
<script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- Slick Slider -->
<script src="/plugins/slick-carousel/slick.min.js"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
<script src="/plugins/google-map/gmap.js"></script>
<!-- main js -->
<script src="/js/custom.js"></script>

</th:block>