<!--
    칼럼 명 배열로 for문 써서 넣기
    th로 반환 튜플 수 만큼 행 만들기
 -->

<html layout:decorate="~{layout/admin/index}">

    <th:block layout:fragment="pageHead">
        <title>상품 등록 승인</title>

        <style>

            .table-responsive {
                height: 100% !important;
                overflow: auto !important;
            }

        </style>

    </th:block>

    <th:block layout:fragment="pageContent">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>관리자 [[${adminName}]]님 반갑습니다.</h4>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">승인 관리</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">상품 등록 승인</a></li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">상품 등록 승인</h4>
                    </div>
                    <div class="card-body">
                        <p>상품 승인 대기 내역입니다.</p>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped my-4" style="min-width: 480px; width: 150%;">
                                <thead>

                                <tr>
                                    <th>
                                        <div class="custom-control custom-checkbox pl-4">
                                            <input type="checkbox" id="checkBoss">
                                        </div>
                                    </th>
                                    <th class="text-center text-dark" th:each="columnName : ${columnName}">
                                        [[${columnName}]]
                                    </th>
                                </tr>

                                </thead>
                                <tbody>

                                    <tr th:each="product : ${productList}">
                                        <th style="width: 5%;">
                                            <div class="custom-control custom-checkbox pl-4">
                                                <input type="checkbox" class="checkBaby">
                                            </div>
                                        </th>
                                        <td>[[${product.productId}]]</td>
                                        <td>[[${product.seller.sellerId}]]</td>
                                        <td>[[${product.productName}]]</td>
                                        <td>[[${product.productPrice}]]</td>
                                        <td>[[${product.productDiscount}]]%</td>
                                        <td>[[${product.productHashtag}]]</td>
                                        <td>[[${product.category.categoryName}]]</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-secondary" style="float: right;">승인</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>

    <th:block layout:fragment="bottomScriptAdd">
        <script src="/admin/js/approval.js"></script>
    </th:block>

</html>