<!-- 메인 화면  -->
<html layout:decorate="~{layout/admin/index}">

<th:block layout:fragment="pageHead">
    <title>구매자 관리</title>

    <link rel="stylesheet" href="/admin/vendor/select2/css/select2.min.css">
    <link rel="stylesheet" href="/admin/css/infomanagement.css">

</th:block>

<th:block layout:fragment="pageContent">

    <div class="row page-titles mx-0">
        <div class="col-sm-6 p-md-0">
            <div class="welcome-text">
                <h4>관리자 [[${adminName}]]님 반갑습니다.</h4>
            </div>
        </div>
        <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">회원 관리</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">구매자 관리</a></li>
            </ol>
        </div>
    </div>

    <div class="row">

        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">구매자 관리</h4>
                </div>
                <div class="card-body">
                    <p>체크박스와 하단의 버튼을 통해 등급, 계정 상태를 변경하거나 요소를 클릭하여 변경할 수 있습니다.</p>
                    <div class="table-responsive">
                        <table id="example2" class="display" style="width:150%">
                            <thead>
                            <tr>
                                <th>
                                    <div class="custom-control custom-checkbox pl-4">
                                        <input type="checkbox" id="checkAll">
                                    </div>
                                </th>
                                <th class="text-center text-dark" th:each="columnName : ${columnName}">
                                    [[${columnName}]]
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="buyer : ${buyerList}">
                                <td>
                                    <div class="custom-control custom-checkbox pl-4">
                                        <input type="checkbox" class="check_id" th:id="${buyer.buyerId}">
                                    </div>
                                </td>
                                <td>[[${buyer.buyerId}]]</td>
                                <td><a href="" data-toggle="modal" data-target="#buyerInfo" th:onclick="nameUpdate([[${buyer.buyerId}]], [[${buyer.buyerName}]])">[[${buyer.buyerName}]]</a></td>
                                <td><a href="" data-toggle="modal" data-target="#buyerInfo" th:onclick="birthUpdate([[${buyer.buyerId}]], [[${buyer.buyerName}]])" th:text="${#dates.format(buyer.buyerBirth, 'yyyy-MM-dd')}"></a></td>
                                <td><a href="" data-toggle="modal" data-target="#buyerInfo" th:onclick="emailUpdate([[${buyer.buyerId}]], [[${buyer.buyerName}]])">[[${buyer.buyerEmail}]]</a></td>
                                <td><a href="" data-toggle="modal" data-target="#buyerInfo" th:onclick="addressUpdate([[${buyer.buyerId}]], [[${buyer.buyerName}]])">[[${buyer.buyerAddress}]]</a></td>
                                <td class="text-center"><a href="" data-toggle="modal" data-target="#buyerInfo" th:onclick="phoneNumUpdate([[${buyer.buyerId}]], [[${buyer.buyerName}]])">[[${buyer.buyerPhoneNum}]]</a></td>
                                <td class="text-center">[[${buyer.buyerActivation}]]</td>
                                <td class="text-center">[[${buyer.buyerLastLogin}]]</td>
                                <td class="text-center">[[${buyer.buyerGrade}]]</td>
                            </tr>

                            </tbody>
                            <tfoot>
                            <tr>
                                <th>
                                    <div class="custom-control custom-checkbox pl-4">

                                    </div>
                                </th>
                                <th class="text-center text-dark" th:each="columnName : ${columnName}">
                                    [[${columnName}]]
                                </th>
                            </tr>
                            </tfoot>
                        </table>
                        <div class="bootstrap-modal" style="float: right; display: ruby;">
                            <!-- 계정 활성화 변경 모달 -->
                            <button class="btn btn-rounded btn-primary" data-toggle="modal" data-target="#activate">계정 활성화 변경</button>
                            <!-- Modal -->
                            <form name="Afrm" method="post" th:action="@{/admin/buyer/ActivationUpdate}" th:object="${activation}">
                                <div class="modal fade" id='activate'>
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">계정 활성화 변경</h5>
                                                <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body" id="ActivateModal">

                                                <!-- 셀렉트 박스 -->
                                                <div class="row">
                                                    <div class="col-xl-6" style="flex: 0 0 100%; max-width: 100%;">
                                                        <div class="card">
                                                            <div class="card-body">
                                                                <div class="mb-4">
                                                                    <h4 class="card-title">선택된 사용자의 계정 활성화 상태가 변경됩니다.</h4>
                                                                    <div id="ActivationInput1"></div>
                                                                </div>

                                                                <select class="disabling-options" th:field="*{activationUpdate}">
                                                                    <option value="1">정상</option>
                                                                    <option value="0">정지</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- 셀렉트 박스 끝 -->
                                                <input type="hidden" id="ActivationInput2" th:field="*{activationId}">

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" onclick="ActivationUpdate()">저장</button>
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <!-- Anchor trigger modal -->
                            <button class="btn btn-rounded btn-primary" data-toggle="modal" data-target="#grade">등급 변경</button>
                            <!-- Modal -->
                            <form name="Gfrm" method="post" th:action="@{/admin/buyer/GradeUpdate}" th:object="${grade}">
                                <div class="modal fade" id='grade'>
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">등급 변경</h5>
                                                <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body" id="GradeModal">

                                                <!-- 셀렉트 박스 -->
                                                <div class="row">
                                                    <div class="col-xl-6" style="flex: 0 0 100%; max-width: 100%;">
                                                        <div class="card">
                                                            <div class="card-body">
                                                                <div class="mb-4">
                                                                    <h4 class="card-title">선택된 사용자의 등급이 변경됩니다.</h4>
                                                                    <div id="GradeInput1"></div>
                                                                </div>

                                                                <select id="single-select" th:field="*{gradeUpdate}">
                                                                    <option value="1">Bronze</option>
                                                                    <option value="2">Silver</option>
                                                                    <option value="3">Gold</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- 셀렉트 박스 끝 -->
                                                <input type="hidden" id="GradeInput2" th:field="*{gradeId}">

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" onclick="GradeUpdate()">저장</button>
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <!-- 구매자 정보를 바꾸는 모달 -->
                            <form name="infoFrm" method="post" action="" th:object="${buyerInfo}">
                                <div class="modal fade" id='buyerInfo'>
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="buyerInfoTitle"></h5>
                                                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                                            </div>
                                            <div class="modal-body">

                                                <div class="row">
                                                    <div class="col-xl-6" style="flex: 0 0 100%; max-width: 100%;">
                                                        <div class="card">
                                                            <div class="card-body">
                                                                <div class="mb-4">
                                                                    <h4 class="card-title" id="buyerInfoContent"></h4>
                                                                </div>
                                                                <div class="form-group">
                                                                    <h6 id="buyerInfoUser"></h6>
                                                                    <input type="text" id="infoInput1" class="form-control input-default infoInput" th:field="*{name}" autocomplete="off">
                                                                    <input type="date" id="infoInput2" class="form-control input-default infoInput" th:field="*{birth}">
                                                                    <input type="text" id="infoInput3" class="form-control input-default infoInput" th:field="*{email}" autocomplete="off">

                                                                    <div id="addressId1" class="divFlex">
                                                                        <input type="text" class="form-control input-default marginBaby infoInput" id="sample6_postcode" placeholder="우편번호">
                                                                        <input type="button" class="btn btn-primary marginBaby infoInput" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br id="addressBr1">
                                                                    </div>
                                                                    <input type="text" class="form-control input-default infoInput" id="sample6_address" placeholder="주소"><br id="addressBr2">
                                                                    <div id="addressId2" class="divFlex">
                                                                        <input type="text" class="form-control input-default infoInput" id="sample6_detailAddress" placeholder="상세주소">
                                                                        <input type="text" class="form-control input-default infoInput" id="sample6_extraAddress" placeholder="참고항목">
                                                                    </div>

                                                                    <input type="hidden" id="addressForm" th:field="*{address}">
                                                                    <input type="hidden" id="addressForm1">
                                                                    <input type="text" id="infoInput4" class="form-control input-default infoInput" th:field="*{phoneNum}" autocomplete="off">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <input type="hidden" id="buyerInfoInput1" th:field="*{check}">
                                                <input type="hidden" id="buyerInfoInput2" th:field="*{id}">

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" id="saveBtn" class="btn btn-primary" onclick="buyerInfoUpdate()">저장</button>
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</th:block>

<th:block layout:fragment="bottomScriptAdd">

    <script src="/admin/js/buyermanagement.js"></script>
    <script src="/admin/vendor/select2/js/select2.full.min.js"></script>
    <script src="/admin/js/plugins-init/select2-init.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

</th:block>

</html>