<html layout:decorate="~{_layout/seller/index}">
<!--
<th:block layout:fragment="pageHead">
	<title th:text="${pageName}"></title>
</th:block>
-->
<th:block layout:fragment="pageContent">
	<main id="main" class="main">
		<div class="pagetitle">
			<h1>Dashboard</h1>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="index">Home</a></li>
					<li class="breadcrumb-item active">Dashboard</li>
				</ol>
			</nav>
		</div><!-- End Page Title -->
	</main><!-- End #main -->
</th:block>
</html>