<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 캐싱을 방지하는 meta 태그 지시어 -->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>Login</title>
    <!-- 부트스트랩 CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- 추가적인 CSS 파일 -->
    <link href="/assets/css/login.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="https://cpwebassets.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico">
    <link rel="mask-icon" type="image/x-icon" href="https://cpwebassets.codepen.io/assets/favicon/logo-pin-b4b4269c16397ad2f0f7a01bcdf513a1994f4c94b8af2f191c09eb0d601762b1.svg" color="#111">
    <!-- Iconify JavaScript 파일 -->
    <script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>

        var alertMessage = "[[${alert}]]";
        if (alertMessage === "이미 구매자 로그인이 되어있습니다.") {
            alert(alertMessage);
            location.href = "/buyer/index";
        } else if (alertMessage === "이미 판매자 로그인이 되어있습니다.") {
            alert(alertMessage);
            location.href = "/seller/index";
        }

    </script>

    <style>

        #findAccount, #findAccount1,
         .labelBaby {
            color: black;
            margin: 0;
            font-family: inherit;
            font-size: inherit;
            line-height: inherit;
        }

        .btnWidth {
            width: 40%;
        }

        .inputBaby {
            width: 100%;
            margin-bottom: 1.2rem;
        }

        .labelBaby {
            float: left;
        }

        .sexyBody {
            display: flex;
            justify-content: center;
        }

        .sellerIdFind {
            margin-top: 1.2rem;
        }

        .sellerIdAlert1 {
            margin-top: 1.2rem;
            color: red;
        }

        .hide {
            display: none;
        }

        .forgotIdOrPwd {
            text-align: center;
            width: 80%;
        }

        .colorBaby {
            color: #0032ed !important;
        }

    </style>

</head>
<body>
<header>
    <a href="index" class="logo" ><!-- 나중에 사용자 메인 홈페이지로 변경-->
        <img src="https://assets.codepen.io/1462889/fcy.png" alt="">cupeng
    </a>
</header>
<main>
    <div class="section">
        <div class="container">
            <div class="row full-height justify-content-center">
                <div class="col-12 text-center align-self-center py-5">
                    <div class="section pb-5 pt-5 pt-sm-2 text-center">
                        <h6 class="mb-0 pb-3">
                            <span>일반 로그인</span>
                            <span>동업자</span>
                        </h6>
                        <input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
                        <label for="reg-log"></label>
                        <div class="card-3d-wrap mx-auto">
                            <div class="card-3d-wrapper">
                                <div class="card-front" style="height: 450px;">
                                    <div class="center-wrap">
                                        <div class="section text-center">
                                            <h4 class="mb-4 pb-3">Log In</h4>
                                                <div class="form-group">
                                                    <span class="iconify input-icon" data-icon="mdi:account" data-inline="false"></span>
                                                    <input type="text" class="form-style" placeholder="Your ID" id="buyerId" autocomplete="off">
                                                </div>
                                                <div class="form-group mt-2">
                                                    <span class="iconify input-icon" data-icon="mdi:lock" data-inline="false"></span>
                                                    <input type="password" class="form-style" placeholder="Your Password" id="buyerPwd" autocomplete="off">
                                                </div>
                                                <div th:if="${param.error1}" id="error1">
                                                    아이디 혹은 비밀번호를 잘못 입력하셨습니다.
                                                </div>
                                                <a href="#" class="btn mt-4" onclick="buyerLogin()">Submit</a>
                                            <p class="mb-0 mt-4 text-center"><a class="link" id="buyerBtn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Forgot your ID or password?</a></p>
                                            <p class="mb-0 mt-4 text-center"><a href="/buyer/register" class="link">make account?</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-back" style="height: 450px;">
                                    <div class="center-wrap">
                                        <div class="section text-center">
                                            <h4 class="mb-4 pb-3">Log In</h4>
                                                <div class="form-group">
                                                    <span class="iconify input-icon" data-icon="mdi:account" data-inline="false"></span>
                                                    <input type="text" class="form-style" placeholder="Your ID" id="sellerId" autocomplete="off">
                                                </div>
                                                <div class="form-group mt-2">
                                                    <span class="iconify input-icon" data-icon="mdi:lock" data-inline="false"></span>
                                                    <input type="password" class="form-style" placeholder="Your Password" id="sellerPwd" autocomplete="off">
                                                </div>
                                                <div th:if="${param.error2}" id="error2">
                                                    아이디 혹은 비밀번호를 잘못 입력하셨습니다.
                                                </div>
                                                <a href="#" class="btn mt-4" onclick="sellerLogin()">Submit</a>
                                            <p class="mb-0 mt-4 text-center"><a class="link" id="sellerBtn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Forgot your ID or password?</a></p>
                                            <p class="mb-0 mt-4 text-center"><a href="signup" class="link">make account?</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- 판매자 비밀번호 찾기 모달 -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="align-items: center;">
                <h1 class="modal-title fs-5" id="findAccount"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">&times;</button>
            </div>
            <div class="modal-body sexyBody">
                <!-- 이름과 이메일을 넣어 찾기 버튼 누르는 div -->
                <div class="idFindDisplay forgotIdOrPwd">
                    <label class="labelBaby">이름 입력</label>
                    <input type="text" class="inputBaby" id="findSellerName1">
                    <label class="labelBaby">이메일 입력</label>
                    <input type="text" class="inputBaby" id="findSellerEmail1">
                    <a class="sellerIdFind" id="findSellerIdBtn">아이디 찾기</a>
                </div>
                <!-- 찾은 아이디를 보여주는 div -->
                <div class="idFoundDisplay forgotIdOrPwd hide">
                    <label class="labelBaby" id="foundSellerId1"></label>
                </div>
                <!-- 아이디와 이메일을 입력하고 재발급 버튼 누르는 div -->
                <div class="pwdFindDisplay forgotIdOrPwd hide">
                    <label class="labelBaby">아이디 입력</label>
                    <input type="text" class="inputBaby" id="idForReset1">
                    <label class="labelBaby">이메일 입력</label>
                    <input type="text" class="inputBaby" id="emailForReset1">
                    <a class="sellerIdFind" id="sellerPwdResetBtn">인증번호 전송</a>
                </div>
                <!-- 인증번호를 누르는 div -->
                <div class="verificationCodeDisplay forgotIdOrPwd hide">
                    <label class="labelBaby">인증번호 입력</label>
                    <div>
                        <input type="text" class="inputBaby" id="verificationCodeInput">
                        <a class="sellerIdFind" onclick="verificationCheck()">확인</a>
                        <input type="hidden" id="verificationCodeHidden">
                    </div>
                </div>
                <!-- 새로 비밀번호를 설정하는걸 보여주는 div -->
                <div class="pwdResetDisplay forgotIdOrPwd hide">
                    <label class="labelBaby" id="newSellerPwd1">새 비밀번호</label>
                    <input type="password" class="inputBaby" id="newSellerPwd2">
                    <label class="labelBaby" id="newSellerPwd3">새 비밀번호 확인</label>
                    <input type="password" class="inputBaby" id="newSellerPwd4">
                    <a class="sellerIdFind" id="getNewPwd">설정</a>
                </div>
            </div>
            <div class="modal-footer" style="justify-content: center;">
                <button type="button" class="btn btn-secondary btnWidth" id="idFindBtn" onclick="letsFindId()">아이디 찾기</button>
                <button type="button" class="btn btn-primary btnWidth" id="pwdResetBtn" onclick="letsResetPwd()">비밀번호 재발급</button>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="checkTest" th:value="${checkTest}">

<form name="buyerFrm" action="/buyer/reallogin" method="post" th:object="${buyerDTO}">
    <input type="hidden" name="buyerId" id="buyer1" th:field="*{buyerId}">
    <input type="hidden" name="buyerPwd" id="buyer2" th:field="*{buyerPassword}">
</form>

<form name="sellerFrm" action="/seller/reallogin" method="post" th:object="${sellerDTO}">
    <input type="hidden" name="sellerId" id="seller1" th:field="*{sellerId}">
    <input type="hidden" name="sellerPwd" id="seller2" th:field="*{sellerPassword}">
</form>

<!-- 자바 스크립트 파일 -->
<script src="/js/userLogin.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

</body>
</html>