<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 캐싱을 방지하는 meta 태그 지시어 -->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>Login</title>
    <!-- 부트스트랩 CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- 추가적인 CSS 파일 -->
    <link href="/assets/css/login.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="https://cpwebassets.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico">
    <link rel="mask-icon" type="image/x-icon" href="https://cpwebassets.codepen.io/assets/favicon/logo-pin-b4b4269c16397ad2f0f7a01bcdf513a1994f4c94b8af2f191c09eb0d601762b1.svg" color="#111">
    <!-- Iconify JavaScript 파일 -->
    <script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>

    <script>

        var alertMessage = "[[${alert}]]";
        if (alertMessage === "이미 구매자 로그인이 되어있습니다.") {
            alert(alertMessage);
            location.href = "/buyer/index";
        } else if (alertMessage === "이미 판매자 로그인이 되어있습니다.") {
            alert(alertMessage);
            location.href = "/seller/index";
        }

    </script>

</head>
<body>
<header>
    <a href="index" class="logo" ><!-- 나중에 사용자 메인 홈페이지로 변경-->
        <img src="https://assets.codepen.io/1462889/fcy.png" alt="">cupeng
    </a>
</header>
<main>
    <div class="section">
        <div class="container">
            <div class="row full-height justify-content-center">
                <div class="col-12 text-center align-self-center py-5">
                    <div class="section pb-5 pt-5 pt-sm-2 text-center">
                        <h6 class="mb-0 pb-3">
                            <span>일반 로그인</span>
                            <span>동업자</span>
                        </h6>
                        <input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
                        <label for="reg-log"></label>
                        <div class="card-3d-wrap mx-auto">
                            <div class="card-3d-wrapper">
                                <div class="card-front" style="height: 450px;">
                                    <div class="center-wrap">
                                        <div class="section text-center">
                                            <h4 class="mb-4 pb-3">Log In</h4>
                                                <div class="form-group">
                                                    <span class="iconify input-icon" data-icon="mdi:account" data-inline="false"></span>
                                                    <input type="text" class="form-style" placeholder="Your ID" id="buyerId" autocomplete="off">
                                                </div>
                                                <div class="form-group mt-2">
                                                    <span class="iconify input-icon" data-icon="mdi:lock" data-inline="false"></span>
                                                    <input type="password" class="form-style" placeholder="Your Password" id="buyerPwd" autocomplete="off">
                                                </div>
                                                <div th:if="${param.error1}" id="error1">
                                                    아이디 혹은 비밀번호를 잘못 입력하셨습니다.
                                                </div>
                                                <a href="#" class="btn mt-4" onclick="buyerLogin()">Submit</a>
                                            <p class="mb-0 mt-4 text-center"><a href="#" class="link">Forgot your password?</a></p>
                                            <p class="mb-0 mt-4 text-center"><a href="signup" class="link">make account?</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-back" style="height: 450px;">
                                    <div class="center-wrap">
                                        <div class="section text-center">
                                            <h4 class="mb-4 pb-3">Log In</h4>
                                                <div class="form-group">
                                                    <span class="iconify input-icon" data-icon="mdi:account" data-inline="false"></span>
                                                    <input type="text" class="form-style" placeholder="Your ID" id="sellerId" autocomplete="off">
                                                </div>
                                                <div class="form-group mt-2">
                                                    <span class="iconify input-icon" data-icon="mdi:lock" data-inline="false"></span>
                                                    <input type="password" class="form-style" placeholder="Your Password" id="sellerPwd" autocomplete="off">
                                                </div>
                                                <div th:if="${param.error2}" id="error2">
                                                    아이디 혹은 비밀번호를 잘못 입력하셨습니다.
                                                </div>
                                                <a href="#" class="btn mt-4" onclick="sellerLogin()">Submit</a>
                                            <p class="mb-0 mt-4 text-center"><a href="#0" class="link">Forgot your password?</a></p>
                                            <p class="mb-0 mt-4 text-center"><a href="signup" class="link">make account?</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<input id="checkTest" th:value="${checkTest}">

<form name="buyerFrm" action="/buyer/reallogin" method="post" th:object="${buyerDTO}">
    <input type="hidden" name="buyerId" id="buyer1" th:field="*{buyerId}">
    <input type="hidden" name="buyerPwd" id="buyer2" th:field="*{buyerPassword}">
</form>

<form name="sellerFrm" action="/seller/reallogin" method="post" th:object="${sellerDTO}">
    <input type="hidden" name="sellerId" id="seller1" th:field="*{sellerId}">
    <input type="hidden" name="sellerPwd" id="seller2" th:field="*{sellerPassword}">
</form>

<script src="/js/userLogin.js"></script>

</body>
</html>