
<div id="product" style="display: block;">
    <canvas id="orderproduct" ></canvas>
</div>

<script>
    /*결제건수 그래프 출력*/
    document.addEventListener('DOMContentLoaded', function () {
    const ctx = document.getElementById('orderproduct').getContext('2d');
    const data = /*[[${product}]]*/ {};

    const config = {
    type: 'pie', // 원형 그래프로 설정
    data: {
        labels: Object.keys(data),
        datasets: [{
            label: '총 결제 건수',
            data: Object.values(data),
            backgroundColor: [
                'rgba(255, 99, 132, 0.5)',
                'rgba(54, 162, 235, 0.5)',
                'rgba(255, 206, 86, 0.5)',
                'rgba(75, 192, 192, 0.5)',
                'rgba(153, 102, 255, 0.5)',
                'rgba(255, 159, 64, 0.5)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        responsive: true,
        maintainAspectRatio: false
    }
    };
    const canvas = document.getElementById('orderproduct');
    canvas.style.height = '440px';
    new Chart(ctx, config);
    });

</script>